#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centers the row horizontally */
  width: auto;
  height: auto;
  background-color: transparent;
  padding: 10px;
  border-radius: 0px;
}

.center-container {
  position: absolute;
  border-radius: 300px;
  background-color: black;
  width: 600px;
  height: 600px;
}
/* .pad {
  width: 250px;
  margin: 25px;
} */
.pad {
  width: 120px; /* Adjust as needed */
  height: 120px; /* Add a height so it's no longer a square */
  margin: 10px;
  border-radius: 0; /* Removes the curved edges */
}

.pad:hover {
  cursor: pointer;
}
/* .pad-0{
  border-top-left-radius: 300px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.pad-1{
  border-top-right-radius:300px;
  border-top-left-radius:20px;
  border-bottom-right-radius:20px;
}
.pad-2{
  border-bottom-left-radius:300px;
  border-top-left-radius:20px;
  border-bottom-right-radius:20px;
}
.pad-3{
  border-bottom-right-radius:300px;
  border-top-right-radius:20px;
  border-bottom-left-radius:20px;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* Normal weight */
@font-face {
  font-family: 'MyCustomFont';
  src: url('./assets/fonts/OptimusPrinceps.ttf') format('truetype');
  font-weight: 400; /* normal */
  font-style: normal;
}

/* SemiBold / Bold weight */
@font-face {
  font-family: 'MyCustomFont';
  src: url('./assets/fonts/OptimusPrincepsSemiBold.ttf') format('truetype');
  font-weight: 600; /* semi-bold */
  font-style: normal;
}